
    
    <section id="footer">
      <div class="container">
        <div class="row" >
            <div class=" FOOTER" >
        
               <p >2022 &copf; SAKLYCOM.TN </p>
               
               <ul class="foico">
                <li>
               <a style="color: #3b5998;" href="#!" role="button"
          ><i class="fab fa-facebook-f fa-lg"></i
        ></a></li>
        
        <!-- Twitter -->
        <li>
        <a style="color: #55acee;" href="#!" role="button"
          ><i class="fab fa-twitter fa-lg"></i
        ></a></li>
        
        
        <li>
        <a style="color: #ac2bac;" href="#!" role="button"
          ><i class="fab fa-instagram fa-lg"></i
        ></a></li>
        <li>
          <a style="color: #2b3eac;" href="#!" role="button"
            ><i class="fab fa-linkedin   fa-lg"></i
          ></a></li>
        </ul>
            </div>
        
        </div>
      </div>
      </section>
        
          
        
