<section id="navbar">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid" >
          <a id="brand"class="navbar-brand" href="#">Saklycom</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" >
              <li class="nav-item">
                
                
                
                <a  routerLinkActive="active"  class="nav-link active" aria-current="page" routerLink="/"><i style="color:black;" class="fa-solid fa-house"></i> &nbsp;Home</a>
              </li>
              <li class="nav-item" >
                <a  routerLinkActive="active" class="nav-link" routerLink="Whatwedo"><i  class="fa-solid fa-pen-to-square"></i>&nbsp; What we do</a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active"  class="nav-link" routerLink="Whoweare"> <i class="fa-solid fa-question"></i>&nbsp; Who we are </a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active" class="nav-link " routerLink="Getintouch" tabindex="-1" aria-disabled="true"> <i class="fa-solid fa-envelope"></i>&nbsp; Get in touch</a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active" class="nav-link " routerLink="Startproject" tabindex="-1" > <i class="fa-solid fa-handshake-angle"></i>&nbsp;Start a project</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>